<div class="container-fluid my-header">
  <div class="container">
          <div class="row">
                  <div class="col-lg-6">
                          <h3>Nova palavra</h3>
                  </div>
          </div>
  </div>
</div>

<br>

<div class="container card-header-top">
  <div class="row">
          <div class="col-lg-12">
                  <a class="btn btn-success  btn-xs top-header-my" routerLink="/palavras/cadastrar"><i  class="fas fa-plus"></i> Nova Palavra</a>
                  <a class="btn btn-danger  btn-xs top-header-my float-right"  routerLink="/palavras"><i class="fas fa-undo"></i> Voltar</a>
                  <a class="btn btn-info  btn-xs top-header-my float-right" routerLink="/palavras/cadastrar" style="margin-right: 10px;" (click)="cadastrar()"> <i class="far fa-save"></i> Salvar  </a>
          </div>
  </div>
</div>

<div class="container body-new">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <div class="alert alert-{{tipoAlerta}}" role="alert" [hidden]="!mensagemAlerta"> {{mensagemAlerta}} </div>
      <form>
        <div class="form-row">
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="palavraEg">Palavra em inglês:</label>
            <input type="text" class="form-control" id="palavraEg" placeholder="Informe a palavra em ingles..."
              name="palavraEg" [(ngModel)]="palavraModel.palavraEg">
          </div>
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="palavraPt">Palavra em português:</label>
            <input type="text" class="form-control" id="palavraPt" placeholder="Informe a palavra em português..."
              name="palavraPt" [(ngModel)]="palavraModel.palavraPt">
          </div>
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="rating">Rating:</label>
            <select id="rating" class="form-control" name="rating" [(ngModel)]="palavraModel.rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="status">Status:</label>
            <select id="status" class="form-control" name="status" [(ngModel)]="palavraModel.status">
              <option value="1">Ativado</option>
              <option value="0">Desativado</option>
            </select>
          </div>
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="tipoPalavra">Tipo da palavra:</label>{{tipoPalavra}}
            <select id="tipoPalavra" class="form-control" name="tipoPalavra" [(ngModel)]="tipoPalavra">
              <option *ngFor = "let tipo of tipoPalavras" value="tipo.id">{{tipo.nome}}</option>
            </select>
          </div>
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="palavraEg">Tag:</label>
            <input type="text" class="form-control" id="tag" placeholder="Informe a tag..."
              name="tag" [(ngModel)]="palavraModel.tag">
          </div>
          <div class="form-group col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <label for="tipoPalavra">Verbo:</label>
            <select id="verbo" class="form-control" name="tipoPalavra" [(ngModel)]="palavraModel.verbo">
              <option *ngFor = "let verbo of enumKeysVerboEnum" [value]="verbo">{{verboEnum[verbo]}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
