<div class="container card-header-top">
  <div class="row">
    <div class="col-lg-3">
      <a class="btn btn-success btn-xs top-header-my float-left" (click)="fnRotaNovaEntidade()"><i  class="fas fa-plus"></i> {{labelNovaEntidade}} </a>
    </div>
    <div class="col-lg-6 links-center-card-list">
      <a class="btn btn-default btn-xs top-header-my" (click)="fnRrotaListaCategorias()"><i class="fas fa-list"></i> Categorias </a>
      <a class="btn btn-default btn-xs top-header-my" (click)="fnRrotaListaTipos()"><i class="fas fa-dice-d6"></i>
        Tipo
      </a>
    </div>
    <div class="col-lg-3">
      <a class="btn btn-danger btn-xs top-header-my float-right" (click)="mostrarPesquisa()"> <i class="fas fa-filter"></i> Filtrar </a>
      <a class="btn btn-info btn-xs top-header-my float-right" (click)="fnRotaImprimir()" style="margin-right: 10px"> <i class="fas fa-print"></i> Imprimir  </a>
    </div>
  </div>
</div>
