<div class="container-fluid my-header">
  <div class="container">
          <div class="row">
                  <div class="col-lg-6">
                          <h3>Excluir expressões</h3>
                  </div>
          </div>
  </div>
</div>

<br>

<div class="container card-header-top">
  <div class="row">
          <div class="col-lg-12">
                  <a class="btn btn-success  btn-xs top-header-my" routerLink="/expressoes/cadastrar"><i
                                  class="fas fa-plus"></i> Nova Expressão</a>
                  <a class="btn btn-danger  btn-xs top-header-my float-right" routerLink="/expressoes"><i
                                  class="fas fa-undo"></i> Voltar </a>
                  <a class="btn btn-info  btn-xs top-header-my float-right" (click)="excluirExpressao()"
                          style="margin-right: 10px;"> <i class="fas fa-trash"></i> Excluir </a>
          </div>
  </div>
</div>
<div class="container body-new">
  <div class="row">
          <div class="col-lg-12">

                  <br>
                  <div class="alert alert-danger" role="alert" [hidden]="!mensagemAlerta"> {{mensagemAlerta}}
                  </div>

                  <table class="table table-bordered">
                          <thead>
                                  <tr>
                                          <td>Coluna</td>
                                          <td>Expressões cadastradas</td>
                                  </tr>
                          </thead>
                          <tbody>
                                  <tr>
                                          <td>ID</td>
                                          <td>{{expressao.id}}</td>
                                  </tr>
                                  <tr>
                                          <td>Palavra em Inglês</td>
                                          <td>{{expressao.expressaoEg}}</td>
                                  </tr>
                                  <tr>
                                          <td>Palavra em Português</td>
                                          <td>{{expressao.expressaoPt}}</td>
                                  </tr>

                                  <tr>
                                          <td>Data de cadastro</td>
                                          <td>{{expressao.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                                  </tr>

                          </tbody>
                  </table>

          </div>
  </div>
</div>

