<app-header-top [texto]="'Lista de frases'"></app-header-top>

  <card-top-listar
   [labelNovaEntidade] = "'Nova Frase'"
   [rotaNovaEntidade] = "'/frases/cadastrar'"
   [rotaListaCategorias]="'/frases/categorias/listar'"
   [rotaListaTipos]="'/frases/tipos/listar'"
   [rotaFiltrar]=""
   [rotaImprimir]=""></card-top-listar>

<div class="container">
  <div class="row">
          <div class="col-lg-12">
                  <br>
                  <table class="table table-striped tabela">
                          <thead>
                                  <tr>
                                          <th scope="col">ID</th>
                                          <th scope="col">Frase inglês</th>
                                          <th scope="col">Frase português</th>
                                          <th scope="col">Data de cadastro</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Ações</th>
                                  </tr>
                          </thead>
                          <tbody>
                                  <tr *ngFor="let frase of frases" >
                                          <th>{{frase.id}}</th>
                                          <td>{{frase.fraseEg}}</td>
                                          <td>{{frase.frasePt}}</td>
                                          <td>{{frase.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                                          <td>{{frase.status == 1 ? 'Ativado' : 'Desativado'}}</td>
                                          <td>
                                                  <div class="btn-group">
                                                  <a href="#" class="btn btn-primary btn-sm" [routerLink]="['/frases/editar/', frase.id]"><i class="far fa-edit"></i> Editar</a>
                                                  <a href="#" class="btn btn-danger btn-sm espaco-botoes" [routerLink]="['/frases/excluir/', frase.id]"><i class="fas fa-trash"></i>Excluir</a>
                                                  </div>
                                          </td>
                                  </tr>
                          </tbody>

                  </table>
          </div>
  </div>
